<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.zplan.morning-top10</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Users/richard/my_stock_ai/zplan-资讯/.venv/bin/python</string>
        <string>/Users/richard/my_stock_ai/zplan-资讯/scripts/morning_top10.py</string>
    </array>
    <key>WorkingDirectory</key>
    <string>/Users/richard/my_stock_ai/zplan-资讯</string>
    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/usr/bin:/bin:/usr/sbin:/sbin:/usr/local/bin:/opt/homebrew/bin</string>
        <key>HOME</key>
        <string>/Users/richard</string>
        <key>ZPLAN_ROOT</key>
        <string>/Users/richard/my_stock_ai/zplan-资讯</string>
    </dict>
    <!-- 北京时间 9:00 盘前（周一至周五） -->
    <key>StartCalendarInterval</key>
    <array>
        <dict><key>Weekday</key><integer>1</integer><key>Hour</key><integer>9</integer><key>Minute</key><integer>0</integer></dict>
        <dict><key>Weekday</key><integer>2</integer><key>Hour</key><integer>9</integer><key>Minute</key><integer>0</integer></dict>
        <dict><key>Weekday</key><integer>3</integer><key>Hour</key><integer>9</integer><key>Minute</key><integer>0</integer></dict>
        <dict><key>Weekday</key><integer>4</integer><key>Hour</key><integer>9</integer><key>Minute</key><integer>0</integer></dict>
        <dict><key>Weekday</key><integer>5</integer><key>Hour</key><integer>9</integer><key>Minute</key><integer>0</integer></dict>
    </array>
    <key>StandardOutPath</key>
    <string>/Users/richard/my_stock_ai/zplan-资讯/logs/morning_top10.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/richard/my_stock_ai/zplan-资讯/logs/morning_top10.err</string>
    <key>RunAtLoad</key>
    <false/>
</dict>
</plist>
